<label class="attachments-field">
  {{ 'common.attachments' | translate }}
  <input
    type="file"
    accept="image/*,application/pdf"
    multiple
    [disabled]="disabled"
    [attr.title]="disabled ? disabledTooltip : null"
    (change)="onFileInputChange($event)"
  />
</label>

@if (pendingFiles.length) {
  <ul class="attachments-list pending">
    @for (file of pendingFiles; track $index) {
      <li>
        <span>{{ file.name }}</span>
        <button
          type="button"
          class="link-btn"
          [disabled]="disabled"
          [attr.title]="disabled ? disabledTooltip : null"
          (click)="removePending($index)"
        >
          {{ 'common.remove' | translate }}
        </button>
      </li>
    }
  </ul>
}
