@if (vehicle()) {

  <div class="details-container">

    @if (vehicle()!.image) {
      <img [src]="vehicle()!.image" class="details-image">
    }
    
    <h2>{{ vehicle()!.brand }} {{ vehicle()!.model }}</h2>

    <p><strong>Year:</strong> {{ vehicle()!.year }}</p>
    <p><strong>Mileage:</strong> {{ vehicle()!.mileage }} km</p>
    <p><strong>Fuel Type:</strong> {{ vehicle()!.fuelType }}</p>

    <div class="details-actions">
      <button class="edit-btn" (click)="openEdit()">Edit</button>
      <button class="delete-btn" (click)="deleteVehicle()">Delete</button>
    </div>
  </div>

  @if (showModal()) {
    <app-modal (closed)="closeModal()">
      <app-vehicle-form
        [vehicle]="vehicle()"
        (closed)="closeModal()">
      </app-vehicle-form>
    </app-modal>
  }

} @else {
  <p>Vehicle not found.</p>
}