<div class="fuel-tab">
  @if (error()) {
    <p class="status-message error">{{ error() }}</p>
  } @else {
    <app-fuel-list
      [records]="fuelRecords()"
      titleKeyPrefix="sharedVehicle.fuelTab"
      [showAddButton]="false"
      [totalRecords]="fuelRecords().length"
      [totalCostText]="totalFuelCostByCurrency()"
      (recordSelected)="openRecordDetails($event)"
    >
    </app-fuel-list>
  }

  @if (isModalOpen()) {
    <app-modal [style.--modal-width]="'min(460px, calc(100vw - 28px))'" (closed)="closeModal()">
      <h2>{{ 'sharedVehicle.fuelTab.detailsTitle' | translate }}</h2>

      @if (selectedRecord(); as record) {
        <app-fuel-record-details [record]="record" [hasMileageWarning]="hasMileageWarning(record)">
        </app-fuel-record-details>

        <div class="modal-actions">
          <button type="button" class="secondary-btn" (click)="closeModal()">
            {{ 'common.close' | translate }}
          </button>
        </div>
      }
    </app-modal>
  }
</div>
