<div class="vehicle-grid">
  @if (isLoading()) {
    <p class="status-message">{{ 'common.loading' | translate }}</p>
  } @else if (error()) {
    <p class="status-message error">{{ error() | translate }}</p>
  }

  @for (v of vehicles(); track v.id) {
    <div class="vehicle-card clickable" [routerLink]="['/vehicles', v.id]">
      <div class="image-wrapper">
        @if (v.imageUrl) {
          <img [src]="v.imageUrl" alt="Vehicle image" />
        } @else {
          <div class="no-image">
            {{ 'dashboard.noImage' | translate }}
          </div>
        }
      </div>

      <div class="vehicle-info">{{ v.brand }} {{ v.model }} ({{ v.year }})</div>
    </div>
  }

  <div class="vehicle-card add-card" (click)="openModal()">
    <div class="image-wrapper add-image">
      <span class="plus">+</span>
    </div>

    <div class="vehicle-info">
      {{ 'dashboard.addVehicle' | translate }}
    </div>
  </div>

  @if (showModal()) {
    <app-modal (closed)="closeModal()">
      <app-vehicle-form (closed)="closeModal()"></app-vehicle-form>
    </app-modal>
  }
</div>
